<style>
/* header.html */
/*.search_form{
    position:relative;
    left:900px;
    top:85px;
}*//*style="position:absolute;top:85px;padding-left:900px;"*/

.search_input{
    width:150px;
    padding-bottom:30px;
}
.search_button{
    background:url('../../static/img/search_icon.png') no-repeat;
    cursor:pointer;
    border:none;
    background-size:90%;
    width:40px;
    height:40px;
    top:10px;
}
/* area_code.html 의 지역 메뉴부분 */
ul, li{
    display:block;
    list-style:none;
    padding:0px;
    margin:0px;
}
a{
    text-decoration:none;
    color:inherit;
}
.area_menu{
    text-align:center;
}
.area_menu>ul{
    width:980px;
    background-color:#dfdfdf;
    display:inline-block;
    padding:0 10px;
    border-radius:30px;
}
.area_menu>ul>li{
    display:inline-block;
    width:150px;
}
.area_menu>ul>li>a{
    display:block;
    padding:10px;
}
.area_menu>ul>li:hover>a{
    color:white;
    background-color:black;
}
/* 지역 메뉴 밑 이미지 css*/
.area_show_images{
    margin:10px;
}
.area_show_images img{
    width:320px;
    height:213px;
}
</style>