{% include 'header.html' %}

<table style="position:relative;top:10px;left:150px;font-size:25px;" >
    <tr><td>빅데이터로 알려주는 안전한 여행지 정보</td></tr>
</table>
<table style="position:relative;top:30px;left:100px;font-size:15px;">
    <tr>
        <td rowspan="4"><a href="/location/list-detail?contentid={{areaList1.contentid}}"><img src="{{areaList1.firstimage}}" style="width:200px;height:200px;margin-right:30px;"></a></td>
        <td><a href="/location/list-detail?contentid={{areaList1.contentid}}">{{areaList1.title}}</a></td>
        <td rowspan="4"><a href="/location/list-detail?contentid={{areaList2.contentid}}"><img src="{{areaList2.firstimage}}" style="width:200px;height:200px;margin-left:60px;margin-right:30px;"></a></td>
        <td><a href="/location/list-detail?contentid={{areaList2.contentid}}">{{areaList2.title}}</a></td>
        <td rowspan="4"><a href="/location/list-detail?contentid={{areaList3.contentid}}"><img src="{{areaList3.firstimage}}" style="width:200px;height:200px;margin-left:60px;margin-right:30px;"></a></td>
        <td><a href="/location/list-detail?contentid={{areaList3.contentid}}">{{areaList3.title}}</a></td>
    </tr>
    <tr>
        <td>{{coronainfo1.gubun}}</td><td>{{coronainfo2.gubun}}</td><td>{{coronainfo3.gubun}}</td>
    </tr>
    <tr>
        <td>지역 발생 수&nbsp&nbsp&nbsp{{coronainfo1.localOccCnt}}</td><td>지역 발생 수&nbsp&nbsp&nbsp{{coronainfo2.localOccCnt}}</td><td>지역 발생 수&nbsp&nbsp&nbsp{{coronainfo3.localOccCnt}}</td>
    </tr>
    <tr>
        <td>격리중 환자 수&nbsp&nbsp&nbsp{{coronainfo1.isolIngCnt}}</td><td>격리중 환자 수&nbsp&nbsp&nbsp{{coronainfo2.isolIngCnt}}</td><td>격리중 환자 수&nbsp&nbsp&nbsp{{coronainfo3.isolIngCnt}}</td>
    </tr>
</table>
<table style="position:relative;top:60px;left:150px;" >
    <tr><td style="font-size:25px;width:180px;">여행 게시판</td><td style="width:50px;"></td><td></td>
        <td><a href="/board/"><img src="../static/img/add.png" style="width:20px;height:20px;"></a></td></tr>
    <tr style="height:10px"></tr>
    {% if bd and bd|length < 3 %}
        {% for i in bd %}
        <tr style="font-size:20px;color:orange"><td>{{i.loc}}</td><td>ㅣ</td><td style="color:black;width:450px;"><a href="/board/detail?num={{i.num}}">{{i.title}}</a></td></tr>
        {% endfor %}
    {% elif bd and bd|length >= 3 %}
        <tr style="font-size:20px;color:orange"><td>{{bd[0].loc}}</td><td>ㅣ</td><td style="color:black;width:450px;"><a href="/board/detail?num={{bd[0].num}}">{{bd[0].title}}</a></td></tr>
        <tr style="font-size:20px;color:orange"><td>{{bd[1].loc}}</td><td>ㅣ</td><td style="color:black"><a href="/board/detail?num={{bd[1].num}}">{{bd[1].title}}</a></td></tr>
        <tr style="font-size:20px;color:orange"><td>{{bd[2].loc}}</td><td>ㅣ</td><td style="color:black"><a href="/board/detail?num={{bd[2].num}}">{{bd[2].title}}</a></td></tr>
    {% else %}
    <tr style="font-size:20px;color:orange"><td colspan="2">게시글이 없습니다.</td></tr>
    {% endif %}
</table>
<table style="position:absolute;top:890px;left:1000px;">
    <tr><td style="font-size:25px;width:180px;"><a href="/member/loc">예상 여행지</a></td></tr>
    <tr><td><a href="/member/loc"><img src="../static/img/chartimg.png" style="position:relative;left:50px;"></a></td></tr>
</table>
<br/><br/><br/><br/><br/><br/><br/><br/>
{% include 'footer.html' %}
