{% include 'header.html' %}
<br/>
<h3 style="padding-left:140px;">지역별 관광지</h3>
    <div class="box_leftType1" style="padding-left:140px;">
        <ul class="list_thumType flnon">
            {% for area in areaList %}
            <li class="bdr_nor">
                <div class="photo">
                    <a href="javascript:" onclick="goDetail();">
                        <img src="{{area.firstimage}}" alt="{{area.title}}">
                        <input type="hidden" name="contentid" value="{{area.contentid}}">
                    </a>
                </div>
                <div class="area_txt">
                    <div class="tit">
                        <a href="/location/list-detail?contentid={{area.contentid}}">{{area.title}}</a>
                    </div>
                    <p>{{area.addr1}}</p>
                </div>

            </li>
            {% endfor %}
        </ul>
        <!-- paging -->
         <!--
        <div class="page_box">
            <a class="on" href="javascript:" id="1">1<span class="blind">현재 위치</span></a> <a href="javascript:" id="2">2</a>  <a href="javascript:" id="3">3</a>  <a href="javascript:" id="4">4</a>  <a href="javascript:" id="5">5</a>  <a href="javascript:" class="btn_next ico" id="6">다음</a><a class="btn_last ico" href="javascript:" id="343">끝</a></div>
        -->
        <!-- //paging -->
    </div>
{% include 'footer.html' %}