{% include 'header.html' %}
<div class="detail">
    {% for vo in detailVo %}
    <ul class="list_detail">

        <li>
            <div class="area_txt">
                <div class="tit">{{vo.title}}</div>
            </div>
        </li>
        <li>
            <div class="photo">
                <img src="{{vo.firstimage}}"/>
            </div>
        </li>
        <li>
            <div class="area_addr">
                {{vo.addr1}}
            </div>

        <li>
            <div id="detail_homepage" class="area_addr">{{vo.homepage}}</div>
        </li>
        <li><div id="detail_overview" class="">{{vo.overview}}</div></li>
        <script>
            var homepage = "{{vo.homepage}}";
            var overview = "{{vo.overview}}";
            //console.log(homepage);
            //a태그 변환
            var escapedHtml1 = homepage.replace(/&amp;/,'&')
                                    .replace(/&gt;/,'>')
                                    .replace(/&lt;/,'<')
                                    .replace(/&#34;/g, '"')
                                    .replace(/&quot;/, '"')
                                    .replace(/&apos;/, "'");
            //br 태그 변환
            var escapedHtml2 = overview.replace(/&lt;br&gt;/,'\n');
            //남아있는 a태그 변환
            var page = escapedHtml1.replace(/&lt;/,'<').replace(/&gt;/,'>');

            document.getElementById('detail_homepage').innerHTML = page;
            document.getElementById('detail_overview').innerHTML = escapedHtml2;

        </script>

    </ul>
    {% endfor %}
</div>
{% include 'footer.html' %}