<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/coronainfo/coronaGraph" method="post">
<section id="home" style="padding:300px 0;background-image: url(https://unsplash.it/1324/683?random=0); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
	<div class="container">
<h1 style="text-align:center;" class="toptitle">코로나 현황</h1><br/>
<table style="border: 2px solid powderblue; width:60%; height: 400px; margin: auto; text-align: center;">
	<tr><td><img src = "{{img_path}}" style="width:250px;height:250x"/></td></tr>
</table>
</section>
</form>
</body>
</html>

