<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/coronainfo/" method="post">
    <h1 style="text-align:center; color:darkblue;" class="toptitle">코로나 현황</h1><br/>
    <table style="border: 3px solid powderblue; background-color: powderblue;  width:80%; height: 520px; margin: auto; text-align: center;">
	    <tr><td><img src = "{{img_path}}" style="background-size: cover; width:1500px;height:500x"/></td></tr>
    </table>
    <table style="border: 3px solid Lightgrey; background-color: Lightgrey;  width:80%; height: 50px; margin: auto; text-align: center;">
        <tr>
        {% for c in list_loc %}
        <th><a href="/coronainfo/corouteGubun-all?city={{c}}">{{c}}</a></th>
        {% endfor %}
            </tr>
    </table>
</form>
</body>
</html>

